<!-- Current Streaming Page -->
<h2 class="title">Your current streaming platforms</h2>

<div class="streaming-grid">
  <% @user_providers.each do |provider| %>
    <div class="streaming-item">
      <%= cl_image_tag(provider.logo.key, alt: "#{provider.name} Logo", class: "streaming-logo selected") %>
    </div>
  <% end %>
</div>

<p class="helper-text">
  StreamCaddy helps you optimise your subscriptions!<br>
  How many would you like to remove?
</p>

<div class="select-dropdown">
  <%= select_tag :desired_count, options_for_select([1, 2, 3, 4, 5]), class: "dropdown-select" %>
</div>

<div class="submit-button">
  <%= link_to "Edit", edit_user_providers_path, class: "btn btn-primary" %>
</div>
