<!-- Current Streaming Page -->
<h2 class="title">Your current streaming platforms</h2>

<div class="streaming-grid">
  <% @user_providers.each do |provider| %>
    <div class="streaming-item">
      <%= cl_image_tag(provider.logo.key, alt: "#{provider.name} Logo", class: "streaming-logo selected") %>
    </div>
  <% end %>
</div>

<div class="submit-button">
  <%= link_to "Edit", edit_user_providers_path, class: "btn btn-primary" %>
</div>

<p class="helper-text">
  StreamCaddy helps you optimise your subscriptions!<br>
  <br>
  Start browsing now to build your watchlist!
</p>

<div class="submit-button">
  <%= link_to "Browse Movies & TV-Shows", media_path, class: "btn btn-primary" %>
</div>
