<h1>UserProviders#index</h1>
<p>Find me in app/views/user_providers/index.html.erb</p>
<%# Display streaming platforms %>
<%# Create a button with the option to select them? %>

<h1>Your Streaming Platforms</h1>
