.review-form-container {
  max-width: 600px;
  background-color: #151414;
}

#error_explanation {
  margin-bottom: 1rem;
}

.submit {
  font-size: 1rem;
  font-weight: bold;
}

.form-group .form-control,
.form-group .form-select {
  width: 100%;
  background-color: #2A2A2A;
  border-radius: 8px;
}

.form-group label {
  color: #FAF7D6;
}


.form-control {
  color: #FAF7D6 !important;
  border-color: #666;
}

.d-grid {
  margin-top: 1rem;
}
