.schedule {
  background-color: #151414;
  border-radius: 10px;

  .submit {
    border-radius: 10px;
    color: black;
    padding: 5px;
    background-color: #FAF7D6;
  }
}

.trash-btn {
  background-color: #2A2A2A;
}

.content {
  color: #FAF7D6;
}

.custome-input {
  border-radius: 20px;
  background-color: #FAF7D6;
}
