
<nav class="bottom-navbar">
  <a href="#home" class="navbar-item">Home</a>
  <a href="#services" class="navbar-item">Services</a>
  <a href="#profile" class="navbar-item">Profile</a>
  <a href="#settings" class="navbar-item">Settings</a>
</nav>
