<div class="main-content">

<footer class="footer text-white text-center py-3 mt-auto">
  <div class="footer-wrap">
    <%= image_tag "logo.jpeg", class: 'logo-img d-flex'%>
  <div class="footer-text">
    <p>&copy; <%= Time.now.year %> StreamCaddy. All rights reserved.</p>
    <p><%= link_to 'Privacy Policy', '#', class: 'text-white' %> | <%= link_to 'Terms of Service', '#', class: 'text-white' %></p>
  </div>
  </div>
</footer>

</div>
