<div class="main-content">

<footer class="footer text-white text-center py-3 mt-auto">
  <div class="footer-wrap">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-regular fa-calendar-days"></i>
    <i class="fa-solid fa-bars-staggered"></i>
    <i class="fa-solid fa-shuffle"></i>
  </div>
</footer>

</div>
