<div class="navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= image_tag "logo.jpeg"%>
    <% end %>

    <div class="avatar">
      <%= image_tag current_user&.avatar.presence || asset_path('avatar.jpeg'),
        alt: "Profile",
        class: "rounded-circle",
        style: "width: 40px; height: 40px;" %>
    </div>
  </div>
</div>
