<div class="banner">
<div class="banner-content">
<h1>Welcome to StreamCaddy</h1>
<p>Your personalized streaming assistant!</p>
<%= link_to 'Browse Movies/TvShows', media_path, class: 'btn btn-dark' %>
</div>
</div>
