<div class="schedule-container">

  <% @schedule.each do |month| %>
    <div class="month-section">
      <div class="month-title">
        <h2>Month <%= month[:month] %></h2>
      </div>
      <div class="poster-container">
        <% month[:providers].each do |provider| %>
          <% provider[:content].each do |media| %>
            <div class="poster">
               <%= image_tag media[:media_item].poster, alt: "#{media[:media_item].title} Poster", class: "img-fluid", id: "poster" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
