<div class="schedule-container">
  <% today = Date.today %>
  <% months = Date::MONTHNAMES %>

  <% @schedule.each_with_index do |month| %>
    <% displayed_month = today.next_month(month[:month] - 1).strftime("%B") %>

    <div class="month-section">
      <div class="month-title">
        <h2><%= displayed_month %></h2>
      </div>
      <%= link_to schedule_month_watchlist_media_path(month: month[:month], platform_count: @platform_count), class: "poster-link" do%>
        <div class="poster-container">
          <% month[:providers].each do |provider| %>
            <% provider[:content].each do |media| %>
              <div class="poster">
                <%= image_tag media[:media_item].poster, alt: "#{media[:media_item].title} Poster", class: "img-fluid", id: "poster" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
