<div class="container justify-content-center mt-1">
  <%= link_to medium_path(@media.api_id) do %>
    <i class="fa-solid fa-arrow-left mb-3" id="back"></i>
  <% end %>
  <div class="actor-container">
    <h1><%= @actor.name %></h1>
    <div class="row justify-content-center mt-3">
      <div class="col-10">
        <%= cl_image_tag @actor.photos.first.key, alt: "#{@actor.name} Poster", class: "img-fluid mx-auto d-block" %>
        <p><%= @actor.bio %></p>
      </div>
    </div>
  </div>
</div>
