<h1>Movies</h1>
<%= simple_form_for :search, url: media_search_path, method: :get, input_html: { class: 'd-flex align-items-center' } do |f| %>
  <%= f.input :provider, as: :check_boxes, collection: ["8","2","337"], input_html: { multiple: true }, prompt: "Select a provider" %>
  <button type="submit">button</button>
<% end %>
<% @movies.each do |movie| %>
  <ul>
    <li> <%= link_to movie['title'], medium_path(id: movie['id'], title: movie['title']) %></li>
  </ul>
<% end %>
<% @tvshows.each do |show| %>
  <ul>
    <li> <%= link_to show['name'],  medium_path(id: show['id'], title: show['name'])%></li>
  </ul>
<% end %>

