#actor-container {
  padding: 4px;

  .actor-card {
    overflow: hidden;
    border-radius: 6px;
    background-color: #1a1a1a;
    height: 100%;
    display: flex;
    flex-direction: column;

    img {
      height: 215px;
      width: 100%;
      object-fit: cover;
      margin: 0;
      display: block;
    }

    .actor-info {
      background-color: #2A2A2A;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      height: 65px;
      margin-top: auto;
    }

    .character {
      font-size: smaller;
    }
  }
}
