.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

// add to watchlist button
.fa-regular.fa-plus{
  font-weight: 800;
  color: #d9d9d9;
}

// added to watchlist button / remove from watchlist button
.fa-solid.fa-check{
  font-weight: 800;
  color: #d9d9d9;
}
