.card-title a {
  text-decoration: none;
  color: #FAF7D6;
  font-size: 14px;
  text-align: center;


  &:hover {
    color: #FAF7D6;
    text-decoration: none;
  }
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  position: relative;

&:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: normal;
  max-width: 250px;
  text-align: center;
  z-index: 10;
}

&:hover::before {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 10;
  }
}

.card-body {
  display: flex;
  height: 60px;
  background-color: #2A2A2A;
  border-radius: 8px;
  padding: 5px 8px;
  justify-content: flex-end;
  align-items: center;
}

.media {
  background-color: #151414;
  padding: 18px;
  border-radius: 10px;
}

.filter {
  justify-content: center;
  align-items: center;
  gap: 20px;

  .toggle {
    margin: 0;
    background-color: #151414;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  }
}

.form-select {
  margin: 0;
  width: auto;
  background-color: #151414;
  padding: 10px 15px;
  font-size: 14px;
  color: #FAF7D6;
  font-weight: 300;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(169, 159, 160, 0.5);
  }
}

.col-md-6 {
  position: relative; /* Ensure the parent is relative for absolute positioning */
}

.watch-provider-logo {
  position: absolute; /* Position the logo */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  background-color: rgba(0, 0, 0, 0); /* Optional: semi-transparent background */
  border-radius: 50%; /* Circular container */
  padding: 5px;
  width: 50px; /* Adjust the size as needed */
  height: 50px;
}

.provider-logo {
  width: 100%; /* Fit the logo within the container */
  height: 100%;
  border-radius: 50%;
  object-fit: contain; /* Keep the logo aspect ratio */
}
