.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #151414
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.nav-link {
  color: rgb(215, 211, 211);
  font-size: 16px;
  font-weight: 300;
  margin-right: 5px;
}

.navbar-toggler-icon {
  background-color: rgb(118, 116, 116) !important;
}

.navbar-toggler {
  border-color: rgb(50, 48, 48) !important;
}
