.navbar {
  justify-content: space-between;
  background-image: url("navbar.jpeg");
  background-size: auto;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.nav-link {
  color: rgb(215, 211, 211);
  font-size: 16px;
  font-weight: 300;
  margin-right: 5px;
}
